.loginArea {
    background-color:rgba(142,208,248,0.5);
    margin: 100px 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 1px;
    justify-content: center;
    align-self: center;
    display: flex;
    width: 300px;
 }
.loginArea h1 {
    margin: 0px 50px 30px;
    justify-content: center;
    text-align: center;
    color: #2B2B2B;
}
.form {
    padding: 10px;
    /*margin: 0 40px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.loginButton {
    margin: 10px 10px 5px;
    align-items: center;
}
.loginButton button{
    width: 220px;
    height: 40px;
    border-radius: 15px;
}
.form input {
    /*height: 40px;*/
    /*width: 180px;*/
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 1px 4px 1px;
}
.checkbox {

}