.musicPage {
    color: #2B2B2B;
    padding: 30px;
    font-weight: 600;
}
.item {
    margin-bottom: 20px;
    display: flex;
}
.musicStroke {
    margin-right: 20px;
    cursor: pointer;
}